<!DOCTYPE html>
<html class="motif-popup">
  <head>
    <title>Motif</title>
    <link rel="stylesheet" href="./styles/main.css"/>
    <link rel="stylesheet" href="./styles/tag-list.css"/>
    <link rel=”manifest” href=”<%= htmlWebpackPlugin.options.manifest %>” />
    </script>
  </head>
  <body>
    <div class="motif-popup">
      <div class="motif-popup-title">
          <img class="motif-title-logo" src="./assets/img/tags-icon@128.png"/>
          <h1>Motif for Spotify</h1>
      </div>
      <div class="motif-extension-about">
        <p>Motif is an application to help you organize your spotify song libraries, playlists, and albums. By tagging songs with descriptions that are meaningful to you, you should be able to create playlists and groups based on your moods and need. To use this extension go to</p>
        <a class="motif-link" href="https://open.spotify.com/">Spotify's web player</a>
      </div>
    </div>
  </body>
</html>
