<div class="motif-modal">
    <div class="motif-model-close-container">
        <svg viewBox="0 0 8 8" class="motif-modal-close"><polygon points="8 1.01818182 6.98181818 0 4 2.98181818 1.01818182 0 0 1.01818182 2.98181818 4 0 6.98181818 1.01818182 8 4 5.01818182 6.98181818 8 8 6.98181818 5.01818182 4"></polygon></svg>
    </div>
    <div class="motif-search-container-wrapper">
        <div class="motif-search-container">
            <h1>Playlist Creator</h1>
            <div class="motif-search-query-container">
                <ul class="motif-search-query motif-data-items">
                    <li class="motif-autocomplete-search-li">
                        <div class="motif-taglist-autocomplete motif-autocomplete-container motif-autocomplete-search">
                            <input type="text" autocomplete="false" class="motif-tag-autocomplete-input"/>
                            <ul class="motif-tag-autocomplete-data"></ul>
                        </div>
                    </li>
                </ul>
                <div class="motif-search-query-text">
                    <span></span>
                    <div>add checkmark validation here</div>
                    <div>add tooltip here</div>
                </div>
            </div>
            <div class="motif-search-results-container">
                <h1>Playlist Demo</h1>
                <ul class="motif-search-results"></ul>
            </div>
            <div class="motif-search-footer">
                <input class="motif-create-playlist-btn" type="button" value="Create Playlist" />
            </div>
        </div>
    </div>
</div>