<div class="motif-modal">
    <div class="motif-model-close-container">
        <svg viewBox="0 0 8 8" class="motif-modal-close"><polygon points="8 1.01818182 6.98181818 0 4 2.98181818 1.01818182 0 0 1.01818182 2.98181818 4 0 6.98181818 1.01818182 8 4 5.01818182 6.98181818 8 8 6.98181818 5.01818182 4"></polygon></svg>
    </div>
    <div class="motif-search-container-wrapper">
        <div class="motif-search-container">
            <h1>Playlist Creator</h1>
            <div class="motif-search-query-container">
                <ul class="motif-search-query motif-data-items">
                    <li class="motif-autocomplete-search-li">
                        <div class="motif-taglist-autocomplete motif-autocomplete-container motif-autocomplete-search">
                            <input type="text" autocomplete="false" class="motif-tag-autocomplete-input"/>
                            <ul class="motif-tag-autocomplete-data"></ul>
                        </div>
                    </li>
                </ul>
                <div class="motif-search-query-text">
                    <span></span>
                    <svg class="motif-success-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.25 16.518l-4.5-4.319 1.396-1.435 3.078 2.937 6.105-6.218 1.421 1.409-7.5 7.626z"/></svg>
                    <div class="motif-error-icon-container">
                        <svg class="motif-error-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z"/></svg>
                        <div class="motif-error-tooltip"><div style="padding:10px">something</div></div>
                    </div>
                </div>
            </div>
            <div class="motif-search-results-container">
                <h1>Playlist Demo</h1>
                <ul class="motif-search-results"></ul>
            </div>
            <div class="motif-search-footer">
                <button class="motif-create-playlist-btn">Create Playlist</button>
            </div>
        </div>
    </div>
</div>