@font-face {
  font-family: "Bold";
  src: url("../../../assets/fonts/ProximaNova-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Regular";
  src: url("../../../assets/fonts/ProximaNova-Regular.otf") format("opentype");
}

html.motif-popup {
  background-color: #191414;
  color: #FFFFFF;
}

div.motif-popup {
  margin: 8px 16px 16px 16px;
}

div.motif-popup-title {
  display: flex;
  align-items: center;
}

div.motif-popup-title > .motif-title-logo {
  height: 32px;
}

div.motif-popup-title > h1 {
  font-family: 'Bold';
  width: 500px;
  margin-left: 8px;
}

div.motif-extension-about {
  width: 500px;
}

div.motif-extension-about > p {
  display: inline;
  font-family: 'Regular';
  opacity: 0.6;
}

div.motif-extension-about > .motif-link {
  display: inline;
  opacity: 1;
  color: #FFFFFF;
  text-decoration: none;
  transition: border-bottom 100ms linear;
}

div.motif-extension-about > .motif-link:hover {
  border-bottom: 1px solid #FFFFFF;
}

.spotify-logo--text {
  transition: opacity 500ms ease-in-out;
}

.motif-tag-autocomplete-input {
  background-color: rgba(255,255,255,0.1);
  border-radius: 18px;
  border: none;
  outline: none;
  padding: 4px 16px;
}

.motif-tag-autocomplete-data {
  position: absolute;
  top: 31px; /* should be a calc */
  background: rgba(44, 44,44, 1); /* TODO change this... not totally the right color */
  z-index: 1;
  border-radius: 10px;
  width: 100%;
}

.motif-tag-autocomplete-option {
  background: rgba(44, 44,44, 1); /* TODO change this... not totally the right color */
  padding: 5px;
  width: 100%;
  border: none;
  text-align: left;
}

.motif-tag-autocomplete-option:hover {
  background: rgba(88, 88, 88, 1); /* TODO change this... not totally the right color */
  cursor: pointer;
}

.motif-tag-autocomplete-data > input:first-child {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.motif-tag-autocomplete-data > input:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.motif-autocomplete-container {
  position: absolute;
  margin: 0 px;
}

.motif-autocomplete-hidden {
  visibility: hidden;
  position: absolute;
}

.motif-autocomplete-search {
  position: relative;
}

.motif-tag-autocomplete {
  display: flex;
}

.motif-modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  flex-direction: row-reverse;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
}

.motif-create-playlist-confirm, .motif-create-playlist-error {
  z-index: 2;
}

.motif-search-modal-inner {
  margin: 0 auto;
  display: flex;
  flex-direction: column;;
}

.motif-search-modal-inner > h1{
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.4);
}

.motif-row {
  display: flex;
  flex-direction: row;
}

/* .motif-confirm-btn {

} */

.motif-search-container-wrapper {
  flex-basis: 50%;
  height: 100%;
  background-color: rgba(10, 10, 10, 1);
  display: flex;
  transition: 300ms transform ease-in-out;
  transform: translateX(50vw);
}

.motif-search-container {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  width: 100%;
}

.motif-search-container > h1 {
  margin: 8% auto;
}

.motif-modal-close-container {
  width: 16px;
  height: 16px;
}

.motif-tag-logo:hover {
  cursor: pointer;
  flex-direction: column;
}

.motif-data-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.motif-data-items > li {
  margin: 2px;
}

.motif-search-query {
  margin: 0 0 4% 0;
}

.motif-search-query-text {
  margin: 0 0 8% 0;
  display: flex;
}

.motif-search-results-container {
  max-height: 500px;
  overflow-y: auto;
}

.motif-search-results {
  margin: 4% 0 8% 0;
}

.motif-create-playlist-btn {
  margin: 0 auto;
  display: block;
  background-color: #1DB954;
  padding: 8px 32px;
  text-transform: uppercase;
  font-size: 8pt;
  border-radius: 32px;
  color: #fff;
  border: none;
}

.motif-create-playlist-btn:hover { 
  cursor: pointer;
}

.motif-success-icon {
  fill: #1DB954;
  margin-left: 10px;
  display: none;
}

.motif-error-icon {
  fill: #B00020;
  display: none;
}

.motif-error-icon-container {
  margin-left: 10px;
  position: relative;
}

/* make sure to adjust this based on svg size */

/* TODO you can fine tune the top / height based on dynamic height sizing*/
.motif-error-tooltip {
  position: absolute;
  top: -76px;
  left: -90px;
  border-radius: 4px;
  background-color: #191414;
  color: #fff;
  display: none;
  width: 200px;
  opacity: 0.9;
  height: 70px;
}

.motif-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background: #000000;
  border-radius: 16px;
  height: 34px;
  margin-left: 8px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}

.motif-menu-button:hover {
  cursor: pointer;
}

#motif-menu-text {
  font-size: 12px;
  font-weight: 700;
  color: #FFFFFF;
  margin: 0px 8px;
}

.motif-playlist-create-error {
  color: #B00020;
}

.motif-modal-text {
  color: #FFFFFF;
}